@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background: #cdd6ff;

    }

    .bg {
        background-image: url(../images/login.png);
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
    }

    .bord {
        border-radius: 5px;
    }
</style>
<div class="container w-90 mt-5 rounded shadow">
    <div class="row">
        <div class="col bd py-5">
            <div class="text-end">
             <h2 class="fw.bold text-center py-3">Taller Tic</h2>
            </div>
            <h2 class="fw.bold text-center py-1">Bienvenido</h2>
            <div class="mb-4">
                <label for="email" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-4">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="pass">
            </div>
            <div class="mb-4 form-check">
                <input type="checkbox" name="connected" class="form-check-input">
                <label for="connected" class="form.check-label">Mantenerme Conectado</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary bg-gradient w-100 my-1">Iniciar Sesión</button>
            </div>
            <div class="my-3">
                <span class="mb-4">No Tienes Cuenta? <a href="/Cuenta/Registro">Registrate</a></span>
            </div>
        </div>
        <div class="col bg">

        </div>
    </div>
</div>
