@page
@model Taller.App.Front.pages.NotificacionesModel
@{
}

<div class="container" aria-label="Basic example">


  <a class="btn btn-primary" role="button" asp-page="/PageMecanico/MisCitas">Mis Citas</a>
  <a class="btn btn-primary" role="button" asp-page="/PageMecanico/SolicitarRepuesto">Solicitar Repuestos</a>
  <a class="btn btn-warning" role="button" asp-page="/PageMecanico/Notificaciones">Notificaciones</a>