@page
@model Taller.App.Front.Pages.JefeOperaciones.GestionVehiculosModel
@{
}

<div class="container" aria-label="Basic example">

    <a class="btn btn-primary" role="button">Control citas</a>
    <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionMecanico">Gestion Mecanicos</a>
    <a class="btn btn-primary" role="button">Gestion Vehiculos</a>
    <a class="btn btn-primary" role="button">Notificaciones</a>

    <div><br>
        <h4>Vehiculos</h4>
    </div>
</div><br>
