@page
@model Taller.App.Front.Pages.Cuenta.ClienteModel
@{
}

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Solicitar Cita</button>
  <button type="button" class="btn btn-primary">Mis Vehiculos</button>
  <button type="button" class="btn btn-primary">Mis citas</button>
  <button type="button" class="btn btn-primary">Notificaciones</button>  
</div>