@page
@model Taller.App.Front.Pages.Cuenta.ClienteModel
@{
}






<div class="container" aria-label="Basic example">
 
<a href="#" class="btn btn-primary" role="bzutton">Solicitar Cita</a> 
<a asp-page="/Cliente/MisVehiculos" class="btn btn-primary" role="button">Mis Vehiculos</a> 
<a href="#" class="btn btn-primary" role="button">Mis citas</a> 
<a href="#" class="btn btn-primary" role="button">Notificaciones</a> 


