@page
@model Taller.App.Front.Pages.Perfiles.JefeOperacionesModel
@{
}


<div class="text-center pb-10">
    <h1>Bienvenido Jefe De Operaciones</h1>
</div>

<div class="mt-5">

    <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionRevisiones">Revisiones</a>

    <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionClientes">Gestión
        Clientes</a>
    <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionMecanico">Gestion
        Mecanicos</a>
    <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionVehiculos">Gestion
        Vehiculos</a>
    <a class="btn btn-primary" role="button">Notificaciones</a>

</div>