@page
@model Taller.App.Front.Pages.Perfiles.MecanicoModel
@{
}

<div class="container" aria-label="Basic example">

 <a asp-page="/Mecanico/MisCitas" class="btn btn-primary" role="button">Mis citas</a>
<a asp-page="/Mecanico/SolicitarRepuesto" class="btn btn-primary" role="button">Solicitar Repuestos</a>   
<a asp-page="/Mecanico/Notificaciones" class="btn btn-primary" role="button">Notificaciones</a> 