@page
@model Taller.App.Front.Pages.Cliente.NotificacionesClienteModel
@{
}



<div class="container" aria-label="Basic example">
 
<a asp-page="/Cliente/SolicitarCita" class="btn btn-primary" role="button">Solicitar Cita</a> 
<a asp-page="/Cliente/MisVehiculos" class="btn btn-primary" role="button">Mis Vehiculos</a> 
<a asp-page="/Cliente/CitasCliente" class="btn btn-primary" role="button">Mis citas</a> 
<a asp-page="/Cliente/NotificacionesCliente" class="btn btn-warning" role="button">Notificaciones</a> 
 

<div>
  <br>
<h4>Mis Notificaciones</h4><br>
</div>

</div>
<br>
<br>

<div class="container">
  <div class="row">


    <div class="col-md-12">
      
      <div class="table-responsive">

        <table class="table table-bordred table-striped">

          <thead>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Notificacion</th>
            <th>Enviado Por</th>
              </thead>
          <tbody>

            <tr>
              <td>10-09-2022</td>
              <td>Cita</td>
              <td>Su cita solicita para el 25-9-2022 10:00 AM a sido programada</td>
              <td>Pablo Perez</td>
            </tr>

            <tr>
              <td>22-09-2022</td>
              <td>Revision</td>
              <td>Su vehiculo de placas ADC343 se encuentra disponible para su retiro</td>
              <td>Armando Lopez</td>
            </tr>



          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>
