@page
@model Taller.App.Front.Pages.Cliente.NotificacionesClienteModel
@{
}

<style>
    body {
        background: #004aad;
        background: linear-gradient(to left, #004aad, #cdd6ff);
    }
</style>

<div class="container" aria-label="Basic example">
 
<a asp-page="/Cliente/SolicitarCita" class="btn btn-primary" role="button">Solicitar Cita</a> 
<a asp-page="/Cliente/MisVehiculos" class="btn btn-primary" role="button">Mis Vehiculos</a> 
<a asp-page="/Cliente/CitasCliente" class="btn btn-primary" role="button">Mis citas</a> 
<a asp-page="/Cliente/NotificacionesCliente" class="btn btn-primary" role="button">Notificaciones</a> 
 

<h2>Mis Notificaciones</h2>