@page
@model Taller.App.Front.pages.NotificacionesModel
@{
}

<div class="container" aria-label="Basic example">

  <a class="btn btn-primary" role="button" asp-page="../Perfiles/Mecanico">Inicio Mecanico</a>
  <a class="btn btn-primary" role="button" asp-page="/Mecanico/MisCitas">Mis Citas</a>
  <a class="btn btn-primary" role="button" asp-page="/Mecanico/SolicitarRepuesto">Solicitar Repuestos</a>
  <a class="btn btn-warning" role="button" asp-page="/Mecanico/Notificaciones">Notificaciones</a>